<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>poly_strategy_realtime_analysis_15m</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd /Users/ww/Project/poly_strategy &amp;&amp; PYTHONUNBUFFERED=1 scripts/run_realtime_analysis_once.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>WorkingDirectory</key>
  <string>/Users/ww/Project/poly_strategy</string>
  <key>StandardOutPath</key>
  <string>/Users/ww/Project/poly_strategy/data/realtime-analysis.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ww/Project/poly_strategy/data/realtime-analysis.log</string>
</dict>
</plist>
